@media(min-width:576px){
    .cointner{
        width: 520px;
    }
}
@media(min-width:786px){
    .cointner{
        width: 720px;
    }
}
@media(min-width:992px){
    .cointner{
        width: 920px;
    }
}
@media(min-width:1200px){
    .cointner{
        width: 1120px;
    }
    .col-50{
        width: 50%;
    }
}